@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-break: 1.5;
}

@media (min-width: 46.75em) {
  html {
    font-size: 20px;
    line-height: 1.4;
  }
}
